.teamchat-sample {
    height: 300px;
    margin-bottom: 6px;
}

.button-container {
    display: flex;
    align-items: center;
  }
  
  .button-space {
    margin-right: 10px; /* Adjust the value to set the desired space */
  }
  
  .notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 16px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 10px;
  }