.settings-page {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
}

.level-left {
    position: relative;
    top: 10px;
    left: 10px;
}

.level-right {
    display: flex;
    justify-content: flex-end; 
    flex-wrap: wrap; 
    gap: 10px; 
    width: 100%; 
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    justify-items: center;
    align-items: center;
    width: fit-content;
}
