.Teamchat-sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

  .chat-input-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
   
  }
  
  .chat-input {
    flex-grow: 1;
    border: none;
    padding-right: 4rem; /* Give space for the button */
    resize: none; /* Optional: Prevents resizing */
    height: 100px;
  }
  
  .send-button {
    position: absolute;
    right: 8px; /* Adjust based on your design */
    bottom: 8px; /* Align with the bottom of the textarea */
    padding: 0.375rem 0.75rem;
  }
  
  /* Additional styles to remove default browser styles */
  .chat-input:focus {
    box-shadow: none;
    outline: none;
  }

  .notification {
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 16px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-top: 10px;
  }
  
   /*  */
  /* Adjust the chat input height and margin */
  .chat-container textarea {
    height: 100px;
    margin-bottom: 10px;
  }
  